div.toc_section{
	margin-left: 1.5em;
}

a.toc_link{
	text-decoration: none;
}

.affix{
    color: #80c0ff;
}

table, td{
    border: 1px solid #ffffff;
    border-collapse: collapse;
}

table{
    display: inline-table;
}

td{
    height: 1.5em;
    text-align: center;
}

td.voiceless, td.voiced{
    width: 2em;
}

td.vowel{
    width: 4em;
}

td.voiceless{
    border-right: 0;
}

td.voiced{
    border-left: 0;
}

td.header{
    width: 4em;
    background: #0050a0;
}

img.glyph{
    height: 2em;
}

img.inline_glyph{
    height: 1.5em;
    vertical-align: middle;
}
